input[type='number'] {
    width: 100px;
}

#container {
  position: relative;
  left: 300px;
  width: 600px;
  height: 700px;
  background-color: rgba(242, 240, 236);
  border: 0.5px solid gray;
  border-radius: 20px;
}

#image-editor {
  text-align: center;
  border: 1px dotted gray;
  position: absolute;
  left: 50px;
  top: 50px;
  width: 512px;
  height: 512px;
}

#upload-text {
  position: relative;
  top: 240px;
}

#panel {
  position: absolute;
  left: 50px;
  top: 570px;
}

.block {
  display: inline-block;
  margin: 5px;
}
