input[type='number'] {
    position: absolute;
    width: 80px;
    height: 35px;
    left: 75%;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: end;
    font-family: 'Squarea';
}

#header {
  width: 100%;
  height: 60px;
  background-color: #FFFFFF;
  border-bottom: 3px solid lightgray;
}

#logo {
  font-size: 48px;
  position: relative;
  left: 20px;
}

#image-editor {
  text-align: center;
  border: 1px dotted gray;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 512px;
  height: 512px;
  background-color: #FFFFFF;
  color: #000000;
}

#upload-text {
  position: relative;
  top: 240px;
}

#panel {
  position: relative;
  left: 75vw;
  width: 25vw;
  height: 100vh;
  background-color: #FFFFFF;
  color: #000000;
  border-left: 4px solid gray;
  font-size: 18px;
}

#resolution-button {
  padding: 10px;
  top: 80vh;
  height: 110px;
  display:flex;
  align-items:center;
  position: absolute;
  width: 100%;
  background-color: #1357a6;
  color: #ffffff;
  font-size: 40px;
}

#resolution-button-word {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 30px;
  left: 100px;

}

.block {
  padding: 10px;
  border-bottom: 0.5px solid lightgray;
  height: 70px;
  display:flex;
  align-items:center;
}
